---
http_interactions:
- request:
    method: get
    uri: https://push.1c-connect.com/v1/line/treatment/?user_id=47a6720d-c4da-11e5-80e0-0025904f970e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"treatment_id":"aa321aee-9c41-4440-a432-1f73a3f1198c","user_id":"47a6720d-c4da-11e5-80e0-0025904f970e","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","initialized_at":"2024-02-21T03:20:26.760787Z","current_specialist":"26c44973-56f4-11e1-bd8d-92568227dc5f"},{"treatment_id":"0484e573-dd21-4ce6-aa43-207af914c044","user_id":"47a6720d-c4da-11e5-80e0-0025904f970e","line_id":"d12ec692-1bcd-11e5-80d5-0025904f970e","initialized_at":"2024-01-23T04:24:55.178933Z","current_specialist":"26c44973-56f4-11e1-bd8d-92568227dc5f"}]'
  recorded_at: Sat, 24 Feb 2024 10:28:30 GMT
recorded_with: VCR 6.2.0
