---
http_interactions:
- request:
    method: get
    uri: https://push.1c-connect.com/v1/line/treatment/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"treatment_id":"aa321aee-9c41-4440-a432-1f73a3f1198c","user_id":"47a6720d-c4da-11e5-80e0-0025904f970e","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","initialized_at":"2024-02-21T03:20:26.760787Z","current_specialist":"af4d8d46-50ca-4efb-aa53-7b0f8ac802e6"},{"treatment_id":"b89802fe-00dd-48c9-93ae-e662dde5f6d2","user_id":"3b6baee1-7a16-4048-8e6d-642d52eac299","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","initialized_at":"2024-02-19T05:08:35.512177Z","current_specialist":"af4d8d46-50ca-4efb-aa53-7b0f8ac802e6"},{"treatment_id":"917c210a-c540-4bb1-9ba3-7edaa134e28a","user_id":"01484320-7184-4910-aa98-e1dddc204d8f","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","initialized_at":"2024-02-22T04:19:27.130265Z"[...]
