---
http_interactions:
- request:
    method: get
    uri: https://push.1c-connect.com/v1/line/competences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"ab8cc1c4-6e3d-11ee-8644-00505601495b","pool_priority":3,"is_franch_spec":false},{"specialist_id":"26c44973-56f4-11e1-bd8d-92568227dc5f","line_id":"ab8cc1c4-6e3d-11ee-8644-00505601495b","pool_priority":3,"is_franch_spec":false},{"specialist_id":"c9afc860-b145-42b4-a62b-3ff075698e5a","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","pool_priority":1,"is_franch_spec":false},{"specialist_id":"26c44973-56f4-11e1-bd8d-92568227dc5f","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","pool_priority":3,"is_franch_spec":false},{"specialist_id":"af4d8d46-50ca-4efb-aa53-7b0f8ac802[...]
