---
http_interactions:
- request:
    method: get
    uri: https://push.1c-connect.com/v1/line/competences?user_id=3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"4cbdfdbc-96e3-11e8-80eb-0025904f970d","pool_priority":0,"is_franch_spec":false},{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"7ff80dd7-96e3-11e8-80eb-0025904f970d","pool_priority":0,"is_franch_spec":false},{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"ab8cc1c4-6e3d-11ee-8644-00505601495b","pool_priority":3,"is_franch_spec":false},{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"b55cd510-35dc-11e4-93f8-e839352bba69","pool_priority":0,"is_franch_spec":false},{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"cd484afc-29b7-11ed-8dca-00505601495b","pool_priority":3,"is_franch_spec":false},{"specialist_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","line_id":"d12ec692-1bcd-11e5-80d5-0025904f970e","pool_priority":0,"is_franch_spec":false}]'
  recorded_at: Sat, 24 Feb 2024 12:56:18 GMT
recorded_with: VCR 6.2.0
