---
http_interactions:
- request:
    method: get
    uri: https://cus.1c-connect.com/cus/ws/PartnerWebAPI2?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"\n\t\txmlns:soap12bind=\"http://schemas.xmlsoap.org/wsdl/soap12/\"\n\t\txmlns:xmime=\"http://www.w3.org/2005/05/xmlmime\"\n\t\txmlns:soapbind=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\t\txmlns:tns=\"http://buhphone.com/PartnerWebAPI2\"\n\t\txmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\n\t\txmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\n\t\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n\t\txmlns:xsd1=\"http://buhphone.com/PartnerWebAPI2\"\n\t\txmlns:xsd2=\"http://v8.1c.ru/8.1/data/core\"\n\t\tname=\"PartnerWebAPI2\"\n\t\ttargetNamespace=\"http://buhphone.com/PartnerWebAPI2\">\n\t<types>\n\t\t<xs:schema
        xmlns:tns=\"http://v8.1c.ru/8.1/data/core\"\n\t\t\t\txmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n\t\t\t\ttargetNamespace=\"http://v8.1c.ru/8.1/data/core\"\n\t\t\t\tattributeFormDefault=\"unqualified\"\n\t\t\t\telementFormDefault=\"qualified\">\n\t\t\t<xs:simpleType
        name=\"AllowedLength\">\n\t\t\t\t<xs:restriction base=\"xs:string\">\n\t\t\t\t\t<xs:enumeration
        value=\"Fixed\"/>\n\t\t\t\t\t<xs:enumeration value=\"Variable\"/>\n\t\t\t\t</xs:restriction>\n\t\t\t</xs:simpleType>\n\t\t\t<xs:simpleType
        name=\"AllowedSign\">\n\t\t\t\t<xs:restriction base=\"xs:string\">\n\t\t\t\t\t<xs:enumeration
        value=\"Any\"/>\n\t\t\t\t\t<xs:enumeration value=\"Nonnegative\"/>\n\t\t\t\t</xs:restriction>\n\t\t\t</xs:simpleType>\n\t\t\t<xs:complexType
        name=\"Array\">\n\t\t\t\t<xs:sequence>\n\t\t\t\t\t<xs:element name=\"Value\"\n\t\t\t\t\t\t\tnillable=\"true\"\n\t\t\t\t\t\t\tminOccurs=\"0\"\n\t\t\t\t\t\t\tmaxOccurs=\"unbounded\"/>\n\t\t\t\t</xs:sequence>\n\t\t\t</xs:complexType>\n\t\t\t<xs:complexType
        name=\"BinaryDataQualifiers\">\n\t\t\t\t<xs:sequence>\n\t\t\t\t\t<xs:element
        name=\"Length\"\n\t\t\t\t\t\t\ttype=\"xs:decimal\"/>\n\t\t\t\t\t<xs:element
        name=\"AllowedLength\"\n\t\t\t\t\t\t\ttype=\"tns:AllowedLength\"/>\n\t\t\t\t</xs:sequence>\n\t\t\t</xs:complexType>\n\t\t\t<xs:simp[...]
- request:
    method: post
    uri: https://cus.1c-connect.com/cus/ws/PartnerWebAPI2
    body:
      encoding: UTF-8
      string: |2
                  <soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:par="http://buhphone.com/PartnerWebAPI2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://v8.1c.ru/8.1/data/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <soap:Header/>
                    <soap:Body>
                      <par:GetOpenedServiceTreatments><par:Params><Property xmlns="http://v8.1c.ru/8.1/data/core" name="OpenedFrom"><Value xsi:type="xs:date">2024-02-26T00:00:00+00:00</Value></Property></par:Params></par:GetOpenedServiceTreatments>
                    </soap:Body>
                  </soap:Envelope>
    headers:
      Soapaction:
      - '"http://buhphone.com/PartnerWebAPI2#PartnerWebAPI2:GetOpenedServiceTreatments"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<soap:Envelope xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\">\r\n\t<soap:Body>\r\n\t\t<m:GetOpenedServiceTreatmentsResponse
        xmlns:m=\"http://buhphone.com/PartnerWebAPI2\">\r\n\t\t\t<m:return xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\r\n\t\t\t\t\txmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n\t\t\t\t<Property
        xmlns=\"http://v8.1c.ru/8.1/data/core\"\r\n\t\t\t\t\t\tname=\"ResultCode\">\r\n\t\t\t\t\t<Value
        xsi:type=\"xs:string\">SUCCESS</Value>\r\n\t\t\t\t</Property>\r\n\t\t\t\t<Property
        xmlns=\"http://v8.1c.ru/8.1/data/core\"\r\n\t\t\t\t\t\tname=\"ResultData\">\r\n\t\t\t\t\t<Value
        xsi:type=\"ValueTable\">\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>ServiceTreatmentID</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>ClientID</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>ServiceUserID</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>ServiceID</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>Initialized</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>SpecAppointed</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>QueueWaitingTime</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>CurrentSpecialist</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>ReactionStarted</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<column>\r\n\t\t\t\t\t\t\t<Name>QueueLength</Name>\r\n\t\t\t\t\t\t\t<ValueType/>\r\n\t\t\t\t\t\t</column>\r\n\t\t\t\t\t\t<row>\r\n\t\t\t\t\t\t\t<Value
        xsi:type=\"xs:string\">69b16f8c-7e19-419c-bd41-add0191fc8be</Value>\r\n\t\t\t\t\t\t\t<Value
        xsi:type=\"xs:string\">7d02ef31-5af2-4326-82ac-51a8132526b3</Value>\r\n\t\t\t\t\t\t\t<Value
        xsi:type=\"xs:string\">ffcf4553-856e-40f9-a2eb-7c79faee63a7</Value>\r\n\t\t\t\t\t\t\t<Value
        xsi:type=\"xs:string\">b55cd510-35dc-11e4-93f8-e839352bba69</Value>\r\n\t\t\t\t\t\t\t<Value
        xsi:type=\"xs:dateTime\">2024-02-26T09:07:42</Value>\r\n\t\t\t\t\t\[...]
