---
http_interactions:
- request:
    method: get
    uri: https://cus.1c-connect.com/cus/ws/PartnerWebAPI2?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns=\"http://schemas.xmlsoap.org/wsdl/\"\n\t\txmlns:soap12bind=\"http://schemas.xmlsoap.org/wsdl/soap12/\"\n\t\txmlns:xmime=\"http://www.w3.org/2005/05/xmlmime\"\n\t\txmlns:soapbind=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\t\txmlns:tns=\"http://buhphone.com/PartnerWebAPI2\"\n\t\txmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"\n\t\txmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"\n\t\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n\t\txmlns:xsd1=\"http://buhphone.com/PartnerWebAPI2\"\n\t\txmlns:xsd2=\"http://v8.1c.ru/8.1/data/core\"\n\t\tname=\"PartnerWebAPI2\"\n\t\ttargetNamespace=\"http://buhphone.com/PartnerWebAPI2\">\n\t<types>\n\t\t<xs:schema
        xmlns:tns=\"http://v8.1c.ru/8.1/data/core\"\n\t\t\t\txmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n\t\t\t\ttargetNamespace=\"http://v8.1c.ru/8.1/data/core\"\n\t\t\t\tattributeFormDefault=\"unqualified\"\n\t\t\t\telementFormDefault=\"qualified\">\n\t\t\t<xs:simpleType
        name=\"AllowedLength\">\n\t\t\t\t<xs:restriction base=\"xs:string\">\n\t\t\t\t\t<xs:enumeration
        value=\"Fixed\"/>\n\t\t\t\t\t<xs:enumeration value=\"Variable\"/>\n\t\t\t\t</xs:restriction>\n\t\t\t</xs:simpleType>\n\t\t\t<xs:simpleType
        name=\"AllowedSign\">\n\t\t\t\t<xs:restriction base=\"xs:string\">\n\t\t\t\t\t<xs:enumeration
        value=\"Any\"/>\n\t\t\t\t\t<xs:enumeration value=\"Nonnegative\"/>\n\t\t\t\t</xs:restriction>\n\t\t\t</xs:simpleType>\n\t\t\t<xs:complexType
        name=\"Array\">\n\t\t\t\t<xs:sequence>\n\t\t\t\t\t<xs:element name=\"Value\"\n\t\t\t\t\t\t\tnillable=\"true\"\n\t\t\t\t\t\t\tminOccurs=\"0\"\n\t\t\t\t\t\t\tmaxOccurs=\"unbounded\"/>\n\t\t\t\t</xs:sequence>\n\t\t\t</xs:complexType>\n\t\t\t<xs:complexType
        name=\"BinaryDataQualifiers\">\n\t\t\t\t<xs:sequence>\n\t\t\t\t\t<xs:element
        name=\"Length\"\n\t\t\t\t\t\t\ttype=\"xs:decimal\"/>\n\t\t\t\t\t<xs:element
        name=\"AllowedLength\"\n\t\t\t\t\t\t\ttype=\"tns:AllowedLength\"/>\n\t\t\t\t</xs:sequence>\n\t\t\t</xs:complexType>\n\t\t\t<xs:simp[...]
- request:
    method: post
    uri: https://cus.1c-connect.com/cus/ws/PartnerWebAPI2
    body:
      encoding: UTF-8
      string: |2
                <soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:par="http://buhphone.com/PartnerWebAPI2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="http://v8.1c.ru/8.1/data/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                  <soap:Header/>
                  <soap:Body>
                    <par:RegionRead><par:Params></par:Params></par:RegionRead>
                  </soap:Body>
                </soap:Envelope>
    headers:
      Soapaction:
      - '"http://buhphone.com/PartnerWebAPI2#PartnerWebAPI2:RegionRead"'
      Content-Type:
      - text/xml;charset=UTF-8
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PHNvYXA6RW52ZWxvcGUgeG1sbnM6c29hcD0iaHR0cDovL3d3dy53My5vcmcvMjAwMy8wNS9zb2FwLWVudmVsb3BlIj4NCgk8c29hcDpCb2R5Pg0KCQk8bTpSZWdpb25SZ[...]
