---
http_interactions:
- request:
    method: post
    uri: https://push.1c-connect.com/v1/line/send/message
    body:
      encoding: UTF-8
      string: '{"line_id":"cd484afc-29b7-11ed-8dca-00505601495b","user_id":"dd9f0a89-08db-49bf-83dc-dfe3269bf6fe","author_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","bot_as_spec":false,"text":"test
        message"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 24 Feb 2024 16:47:44 GMT
recorded_with: VCR 6.2.0
