---
http_interactions:
- request:
    method: post
    uri: https://push.1c-connect.com/v1/colleague/send/message
    body:
      encoding: UTF-8
      string: '{"recepient_id":"cd484afc-29b7-11ed-8dca-00505601495b","author_id":"3bff3f2f-6c13-4d6a-9b2f-c69543a05ea2","text":"test
        message"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 24 Feb 2024 17:20:49 GMT
recorded_with: VCR 6.2.0
